// Declare @font-face rule

@import url("https://use.typekit.net/sas6tyo.css");

@font-face {
  font-family: "Scala";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("assets/fonts/ScalaWebPro.woff") format("woff");
}

@font-face {
  font-family: "Scala";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("assets/fonts/ScalaWebPro-Ita.woff") format("woff");
}

@font-face {
  font-family: "Scala"; 
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("assets/fonts/ScalaWebPro-Bold.woff") format("woff");
}

@font-face {
  font-family: "Scala";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("assets/fonts/ScalaWebPro-BoldIta.woff") format("woff");
}
