// Declare @font-face rule

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("assets/fonts/AlegreyaSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("assets/fonts/AlegreyaSans-Italic.woff") format("woff");
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("assets/fonts/AlegreyaSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("assets/fonts/AlegreyaSans-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("assets/fonts/AlegreyaSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("assets/fonts/AlegreyaSans-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Cooper Hewitt";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("assets/fonts/cooperhewitt-book.woff") format("woff");
}

@font-face {
  font-family: "Cooper Hewitt";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("assets/fonts/cooperhewitt-bookitalic.woff") format("woff");
}

@font-face {
  font-family: "Cooper Hewitt"; 
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("assets/fonts/cooperhewitt-bold.woff") format("woff");
}

@font-face {
  font-family: "Cooper Hewitt";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("assets/fonts/cooperhewitt-bolditalic.woff") format("woff");
}

@font-face {
  font-family: "Copernicus";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("assets/fonts/GalaxieCopernicus-Book.woff") format("woff");
}

@font-face {
  font-family: "Copernicus";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("assets/fonts/GalaxieCopernicus-BookItalic.woff") format("woff");
}

@font-face {
  font-family: "Copernicus"; 
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("assets/fonts/GalaxieCopernicus-Bold.woff") format("woff");
}

@font-face {
  font-family: "Copernicus";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("assets/fonts/GalaxieCopernicus-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Khartiya";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("assets/fonts/khartiya-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Khartiya";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("assets/fonts/khartiya-italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Khartiya"; 
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("assets/fonts/khartiya-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Khartiya";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("assets/fonts/khartiya-bolditalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Scala";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("assets/fonts/ScalaWebPro.woff") format("woff");
}

@font-face {
  font-family: "Scala";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("assets/fonts/ScalaWebPro-Ita.woff") format("woff");
}

@font-face {
  font-family: "Scala"; 
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("assets/fonts/ScalaWebPro-Bold.woff") format("woff");
}

@font-face {
  font-family: "Scala";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("assets/fonts/ScalaWebPro-BoldIta.woff") format("woff");
}
